@import "tailwindcss";
:root{
    --primary: #2563EB;
    --secondary: #1D4ED8;
    --light: #ecf4ff;
    --main: #1F2937;
    --dim: #6B7280;
    --border: #D1D5DB;
    --bg: #F9FAFB;
}


@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fade-in 0.3s ease-out;
}

html, body {
   background-color: var(--bg);
}

